@import "spec/settings/index";
@import "spec/tools/index";
@import "~bootstrap/scss/bootstrap";
@import "spec/index";
@import "vendor/index";

#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000;
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.ni {
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

footer {
    position: fixed;
    width: 100%;
}

img {
    max-width: 100%;
}

.menu-btn {
    padding: 10px 15px;
    border: none;
    background: none;
}

#employee_paginate {
    padding-top: 20px !important;
}

#employee_info {
    padding-top: 20px !important;
}

#dataTable tr th:last-of-type {
    min-width: 95px;
}

.taytol {
    position: relative;
    top: 14px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border-color: #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 35px !important;
    line-height: 2.4 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.card {
    position: relative;
    top: -20px;
    left: -10%;

    width: 120%;
    min-height: 500px;
    background: #fff;

    transition: 0.5s;
}

.card .box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.card .box .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.card .box .img img {
    width: 100%;
    height: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card .box .maoni #role_P {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card .box p {
    color: #262626;
}

.card .box span {
    display: inline-flex;
}

.card .box ul {
    margin: 0;
    padding: 0;
}

.card .box ul li {
    list-style: none;
    float: left;
}

.card .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.dataTables_filter {
    position: absolute;
    top: 38px;
    right: 40px;
}

.reposition {
    position: absolute;
    top: 80px;
    right: 40px;
}

.font-xs {
    font-size: 0.79em;
}

.pad0 {
    padding-top: 0px;
}

table,
th {
    font-size: 0.79em !important;
}

.profile-table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
}

body {
    background-color: #f9fafb !important;
}

.table-image-cover {
    height: 50px;
    width: 50px;
    background-size: cover;
}

.top-image-cover {
    height: 30px;
    width: 30px;
    background-size: cover;
}

#profile-image-display {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#profile-image-display:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#full_pic {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.full_pic_content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.full_pic_content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close_pic {
    position: absolute;
    top: 70px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_pic:hover,
.close_pic:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 100%) {
    .full_pic_content {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.tab-radio-button {
    display: none;
}

.info-button-label {
    padding: 5px;
    border: #888 solid 1px;
}

.info-button-label:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.info-radio:checked+.info-button-label {
    background-color: rgb(233, 233, 233);
}

#tab1:checked~.tab-con-wrapper>#tab-con1,
#tab2:checked~.tab-con-wrapper>#tab-con2,
#tab3:checked~.tab-con-wrapper>#tab-con3 {
    display: block;
    position: relative;
}

.tab-con {
    display: none;
}

.hide {
    display: none;
}

.table-image-cover {
    height: 50px;
    width: 50px;
    background-size: cover;
}

.top-image-cover {
    height: 30px;
    width: 30px;
    background-size: cover;
}

.profile-image-cover {
    border: 5px white solid;
    background-size: cover;
}

.profile-bg:hover {
    -moz-box-shadow: inset 0 0 30px #000000;
    -webkit-box-shadow: inset 0 0 30px #000000;
    box-shadow: inset 0 0 30px #000000;
}

.profile-bg {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(odd) {
    background: #ecedee;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
    background: #f9fafb;
}

.no-footer {
    border-bottom: 0px !important;
}

.dataTables_scrollHead,
.DTFC_LeftHeadWrapper,
.DTFC_RightHeadWrapper {
    height: 51px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.DTFC_Cloned th {
    background: #f9fafb;
}

.text-wrap {
    white-space: normal;
}

.width-200 {
    width: 200px;
}

.image-center {
    text-align: center center;
}

.no-wrap {
    white-space: nowrap;
}

table.dataTable td {
    padding: 3px 10px;
    width: 1px;
    white-space: nowrap;
}

// table.dataTable tr {
//     background-color: white;
//     // background-color: #ccc;
// }
.profile-fixed-container {
    overflow-y: scroll;
    position: fixed;
}

/* width */
.y-scroller::-webkit-scrollbar {
    width: 5px;
}

.x-scroller::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataTables_scrollBody::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.dataTables_scrollBody::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-center {
    text-align: center;
}

.dataTables_scrollBody {
    // z-index: 1;
}

table tr {
    background-color: white;
}

@media screen and (max-width: 767px) {
    .profile-fixed-container {
        display: none;
    }

    .profile-col-container {
        visibility: visible;
    }
}

@media screen and (min-width: 768px) {
    .profile-col-container {
        visibility: hidden;
    }

    .profile-fixed-container {
        width: 25%;
    }
}

@media screen and (max-width: 991px) {
    .profile-fixed-container {
        padding-left: 25px;
    }
}

@media screen and (max-width: 770px) {
    .profile-col-container {
        visibility: hidden;
    }

    .profile-fixed-container {
        width: 24%;
    }
}

.v--modal-overlay .v--modal-box {
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}

.e-modal-header,
.e-modal-footer {
    padding: 20px 20px 20px 20px;
    width: 100%;
}

.e-modal-header {
    min-height: 50px;
    position: absolute;
    top: 0px;
}

.btn-custom-size {
    font-size: 0.8em;
    padding: 3px 10px 3px 10px;
}

.table-scroll-200 {
    overflow-y: auto;
    height: 200px;
}

.table-scroll-200 th {
    position: sticky;
    top: 0;
    background-color: white;
}

pre.ir_description{
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.9;
    font-size: 14px;
    color: #72777a;
    text-align: justify;
}
