@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';

#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000;
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.ni{
 position:relative;
 top:10px;
 margin-right:10px;
   
}
.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
  }
.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

footer {
    position: fixed;
    width: 100%;
}

img {
    max-width: 100%;
}

.menu-btn {
    padding: 10px 15px;
    border: none;
    background: none;
}

#employee_paginate {
    padding-top: 20px !important;
}

#employee_info {
    padding-top: 20px !important;
}

#dataTable tr th:last-of-type {
    min-width: 95px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border-color: #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 35px !important;
    line-height: 2.4 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}


.card {
    position: relative;
    top: -20px;
    left: -10%;

    width: 120%;
    min-height: 500px;
    background: #fff;

    transition: 0.5s;
}

.card .box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.card .box .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.card .box .img img {
    width: 100%;
    height: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}
.card .box .maoni #role_P {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}

.card .box p {
    color: #262626;
}

.card .box span {
    display: inline-flex;
}

.card .box ul {
    margin: 0;
    padding: 0;
}

.card .box ul li {
    list-style: none;
    float: left;
}

.card .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.dataTables_filter {
    position: absolute;
    top: 44px;
    right: 42px;
}


.reposition {
    position: absolute;
    top: 82px;
    right: 40px;
}

;


.font-xs {
    font-size: 0.79em;
}

.pad0 {
    padding-top: 0px;
}

table,
th {
    font-size: 0.79em !important;
}

.profile-table tr td{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    font-size:0.8em;
  }

  body{
      background-color:#f9fafb !important;
  }

  
  .table-image-cover{
      height:50px;
      width:50px;
      background-size:cover;
  }

  .top-image-cover{
    height:30px;
    width:30px;
    background-size:cover;
  }

  .profile-image-cover{
    border: 5px white solid;
    background-size:cover;
  }

  .profile-bg:hover{
    -moz-box-shadow:inset 0 0 30px #000000;
    -webkit-box-shadow: inset 0 0 30px #000000;
    box-shadow:inset 0 0 30px #000000;
  }

  .profile-bg{
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #000000;
  }

  .hr {
    width: 100%; 
    text-align: center; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .hr span { 
     padding:0 10px; 
 }

/////  TAB CSS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// *, *:before, *:after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   height: 100vh;
// }

// body {
//   font: 14px/1 'Open Sans', sans-serif;
//   color: #555;
//   background: #eee;
// }

// h1 {
//   padding: 50px 0;
//   font-weight: 400;
//   text-align: center;
// }

// p {
//   margin: 0 0 20px;
//   line-height: 1.5;
// }

main {
  min-width: 100%;
  max-width: 100%;
  padding: 5px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-radio-button {
  display: none;
}


.info-button-label{
    padding:5px;
    border:#888 solid 1px;
}

.info-button-label:hover{
    background-color:rgb(240, 240, 240);
    cursor:pointer;
}

.info-radio:checked + .info-button-label{
    background-color:rgb(233, 233, 233);
}

#tab1:checked ~ .tab-content-wrapper > #tab-content1,
#tab2:checked ~ .tab-content-wrapper > #tab-content2,
#tab3:checked ~ .tab-content-wrapper > #tab-content3 {
  display: block;
}

.tab-content{
    display:none;
}


.hide{
    display:none;
}

.coagent-wrap:hover{
    border:rgb(218, 218, 218) solid 1px;
    border-radius: 5px 5px 5px 5px;
    background-color:white;
}